.background-color{
    background-color: #f4f4f9;
}

.header-color{
    background-color: #ABDCA1;
}

.logo {
    height: 90px;
    width: 90px;
}

.maincontainer{
    align-content: center;
    background-color: #ABDCA1;
}